<h3>Orbit Report</h3>
<table>
  <tr class="header-row">
    <th class="sortable" (click)="sort('name')">Name</th>
    <th class="sortable" (click)="sort('type')">Type</th>
    <th>Operational</th>
    <th>Orbit Type</th>
    <th>Launch Date</th>
  </tr>
  <tr ng-class-odd="'oddRow'" *ngFor="satellite in satellites">
    <td>{{satellite.name}}</td> 
    <td [class.warning]="satellite.shouldShowWarning">{{satellite.type}}</td> 
    <td>{{satellite.LaunchDate}}</td> 
    <td>{{satellite.orbitType}}</td> 
    <td>{{satellite.operational}}</td> 
  </tr> 
</table>
