sortable {
    cursor: pointer;
    color: #dd5;
}

.warning {
    background-color: #da8a8a;
}

table {
  color: rgb(221, 208, 208);
  border-radius: 5px;
  overflow: hidden;
  margin: 12px 0;
  min-width: 300px;
  background: #110808;
}

.header-row {
    background: #0b68c5;
    color: #fff
}

TR.oddRow {
  background-Color: #3a1f1f;
}

TR.evenRow {

}

th, td {
    text-align: left;
    margin: 5px 10px;
    padding: 6px;
}

